@import '@stews/styles/layout';
@import '@stews/styles/theme';

.splashContentContainer {
  @extend .columnContainer;
}

.stewsLogoGraphic {
  width: 100%;
}

.stewsTitleContainer {
  @extend .itemContainer;
  margin-top: -13%;
  padding-inline: 22%;
}

.stewsTitleGraphic {
  width: 100%;
}

.splashTextPath {
  stroke: black;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.4rem;
  fill: none;
}
