@import "@stews/styles/layout";
@import "@stews/styles/theme";

$optionLabelPaddingInline: 0.2em;

.menuContainer {
  @extend .columnContainer;
  padding-block-start: $themeSpacer;
  padding-block-end: calc(5 / 4) * $themeSpacer;
  min-width: 128px;
}

.optionList {
  @extend .columnContainer;
  max-height: 248px;
  overflow-y: scroll;  
}

.optionItem {
  @extend .rowContainer;  
  align-items: center;  
  padding-inline: $themeSpacer;
  cursor: pointer;

  &:focus {
    @extend .themeFocusWithoutOutline;

    &:not([data-pointer-focus]) .optionLabel {
      @extend .themeFocusOutline;
    }
  }

  &:not(:first-child) {
    margin-top: calc(3 / 4) * $themeSpacer;
  }
  
  &.latestFocusedOption:not([data-pointer-focus="touch"]) {
    background-color: $themeTextBackgroundColor;
  }

  &.selectedOption {
    .optionSelectedIcon {
      visibility: visible;
    }

    .optionLabel {
      font-style: italic;
    }
  }
}

.optionSelectedIcon {
  flex-shrink: 0;
  width: 0.85em;
  height: 0.85em;
  padding-inline-end: calc($themeSpacer - $themeOutlineWidth - $optionLabelPaddingInline);
  visibility: hidden;
  stroke: black;
  stroke-width: 0.75;
}

.optionLabelContainer {
  @extend .rowContainer;
  padding: $themeOutlineWidth;
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 1;
}

.optionLabel {
  @extend .textEllipsis;
  font-weight: 700;
  padding-inline: $optionLabelPaddingInline;
}

.optionActionItemContainer {
  padding-inline-start: 3 * $themeSpacer - $themeOutlineWidth;
}