@import '@stews/styles/layout';
@import '@stews/styles/theme';

.buttonBase {
  @extend .itemContainer;  
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;

  &:focus {
    @extend .themeFocusOutline;

    &[data-pointer-focus]  {
      @extend .themeFocusWithoutOutline;
    }
  }
}