.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.flexChild {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.itemContainer {
  @extend .flexContainer;
  justify-content: center;
  align-items: center;
}

.rowContainer {
  @extend .flexContainer;
  flex-direction: row;
}

.columnContainer {
  @extend .flexContainer;
  flex-direction: column;
}

.textEllipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}