@import '@stews/styles/layout';
@import '@stews/styles/theme';

.pageHeaderContainer {
  @extend .itemContainer;
}

.pageHeader {
  @extend .rowContainer;
  flex-grow: 1;
  padding: calc(3 / 2) * $themeSpacer;
  padding-block-start: calc(3 / 2) * $themeSpacer;
  background-color: $themeBackgroundColor;
}

// unable to use "position: sticky" for the page header
// because their is a jitter/flicker bug when managing
// viewState.pageIndex change scrolling. so a workaround
// has been concocted to imitate similar behavior
.stickyPageHeaderWorkaround {
  margin-bottom: 57px;

  & .pageHeader {
    position: fixed;
    top: 0;
    width: var(--page-header-width);
  }
}

.viewSelectContainer {
  @extend .itemContainer;
  justify-content: flex-start;
  flex-shrink: 1;
  flex-grow: 1;
}

.actionContainer {
  @extend .rowContainer;
  align-items: center;
  padding-inline-start: 4 * $themeSpacer;
}

.viewHeaderContainer {
  @extend .columnContainer;
  padding-inline: calc(3 / 2) * $themeSpacer;
  padding-block-start: calc(1 / 2) * $themeSpacer;
  padding-block-end: calc(3 / 2) * $themeSpacer;
}

.viewSortSelectContainer {
  @extend .rowContainer;
  flex-direction: row-reverse;
  margin-bottom: calc(1 / 2) * $themeSpacer;
}

.viewSearchInputContainer {
  @extend .rowContainer;
  padding-top: $themeSpacer;
}

.viewPageItemsContainer {
  @extend .columnContainer;
  padding: calc(3 / 2) * $themeSpacer;
  padding-block-end: 0;
}

.generalFooterContainer {
  @extend .itemContainer;
  justify-content: flex-start;
  padding-inline: $themeSpacer;
  padding-block-start: 3 * $themeSpacer;
}

.generalFooter {
  @extend .rowContainer;
  flex-grow: 1;
  align-items: baseline;
  border-top: solid 0.5px $themeTextBackgroundColor;
  border-radius: $themeBorderRadius;
  padding-inline: 0.5 * $themeSpacer;
  padding-block-start: 2 * $themeSpacer;
}

.footerLinkButtonContainer {
  padding-inline-end: 3 * $themeSpacer;
}

.footerLinkButton {
  color: $themeButtonTextColor;
  font-weight: 600;
  font-style: italic;
  font-size: calc(11 / 12) * 1rem;
}

.pageFooterSpacer {
  @extend .itemContainer;
  padding-block-end: calc(5 / 2) * $themeSpacer;
}
