@import '@stews/styles/layout';
@import '@stews/styles/theme';

.itemDisplayContainer {
  @extend .columnContainer;
  padding-block: $themeSpacer;
}

.topRow {
  @extend .rowContainer;
  flex-wrap: wrap;
}

.itemThumbnail {
  margin-left: 1px;
  margin-bottom: calc(3 / 4) * $themeSpacer;
  width: 160px;
  height: 160px;
  border-radius: calc(1 / 2) * $themeSpacer;
  background-color: $themeTextBackgroundColor;
  box-shadow: 0 0 0 1px $themeTextBackgroundColor;
  object-fit: cover;
}

.itemLinks {
  @extend .columnContainer;
  flex-grow: 1;
  align-items: flex-end;
  padding-inline-start: $themeSpacer;
}

.itemLinkContainer {
  padding-block-end: $themeSpacer;
}

.itemLinkButton {
  font-weight: 700;
  text-decoration: underline;
  color: $themeButtonTextColor;
  padding-inline: calc(1 / 4) * $themeSpacer;
  text-decoration: underline;
  text-decoration-skip-ink: all;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 1.5px;
}

.itemInfoContainer {
  @extend .columnContainer;
  padding-inline-start: calc(1 / 5) * $themeSpacer;
  padding-block-start: calc(3 / 4) * $themeSpacer;
}

.itemLabelListContainer {
  @extend .rowContainer;
}

.itemLabelList {
  @extend .rowContainer;
  flex-wrap: wrap;
  width: 0;
  flex-grow: 1;
}

.itemLabel {
  @extend .textEllipsis;
  margin-inline-end: $themeSpacer;
  margin-block-end: $themeSpacer;
  background-color: $themeTextBackgroundColor;
  border-radius: 3px;
  padding-inline: calc(1 / 2) * $themeSpacer;
  padding-block-start: calc(1 / 8) * $themeSpacer + 1px;
  padding-block-end: calc(1 / 8) * $themeSpacer;
  font-weight: 700;
  font-size: 16px;
}
